<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:insert="fragments/fragments :: header">
<body>

<div th:insert="fragments/fragments :: menu"></div>
<br>
<h6>
Study project: Schedule of an University.<br>
<br>
Created by: Mikhail Volkov.<br>
</h6>
<br>
Technology stack:
<table class="table">
    <tbody>
    <tr>
        <td>Backend</td>
        <td>Java 8, Spring Data JPA, Spring Boot, Spring MVC, Spring Validation, Rest, Logging, Internationalization
        </td>
    </tr>
    <tr>
        <td>Frontend:</td>
        <td>Thymeleaf, Bootstrap, Java Script</td>
    </tr>
    <tr>
        <td>Database:</td>
        <td>PostgreSQL, Flyway.</td>
    </tr>
    <tr>
        <td>Tests:</td>
        <td>JUnit 5</td>
    </tr>
    <tr>
        <td>Additional:</td>
        <td>Maven, checkstyle, StarUML</td>
    </tr>
    </tbody>
</table>
</body>
</html>
