<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:insert="fragments/fragments :: header">
<body>

<div th:insert="fragments/fragments :: menu"></div>
<br>
<h6>
    Study project: <span style="color: #007bff; "> Schedule of an University.</span><br>
    <br>
    Created by: <span style="color: #007bff; ">Mikhail Volkov.</span><br>
</h6>
<br>
<h6>Technology stack:</h6>
<table class="table">
    <tbody>
    <tr>
        <td><h6>Backend:</h6></td>
        <td style="color: #007bff;">Java 8, Spring Data JPA, Spring Boot, Spring MVC, Spring Validation, Rest, Logging, Internationalization.
        </td>
    </tr>
    <tr>
        <td><h6>Frontend:</h6></td>
        <td style="color: #007bff;">Thymeleaf, Bootstrap, Java Script.</td>
    </tr>
    <tr>
        <td><h6>Database:</h6></td>
        <td style="color: #007bff;">PostgreSQL, Flyway.</td>
    </tr>
    <tr>
        <td><h6>Tests:</h6></td>
        <td style="color: #007bff;">JUnit 5.</td>
    </tr>
    <tr>
        <td><h6>Additional:</h6></td>
        <td style="color: #007bff;">Maven, Checkstyle, StarUML.</td>
    </tr>
    </tbody>
</table>
</body>
</html>